 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carpet {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 110px;
  left: 90px;
  background-color: rgb(255, 68, 68);
  box-shadow: inset -86px -132px 159px -7px rgb(129 28 28);
}
.door {
  position: absolute;
  width: 110px;
  height: 220px;
  background-color: darkslategrey;
  color: white;
  left: 280px;
  top: 0;
  transform: rotateX(00deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  transform-origin: top left;
  cursor: pointer;
  border: 15px inset #50505042;
  border-top: none;
}
.door a {
  display:inline-block;
  width: 100%;
  height: 100%;
}
.window {
  position: absolute;
  width: 130px;
  height: 120px;
  background-color: white;
  color: black;
  top: 100px;
  left: 88px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  transform-origin: top left;
  box-shadow: inset 29px 27px 0px -10px rgb(144, 165, 164),
  -117px -138px 42px -6px rgb(255 244 202);
  cursor: pointer;
}
.poster {
  /* background-image: url(../assets/courageCss.jpg); */
  width: 116px;
  height: 160px;
  left: 78px;
  top: 80px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateX(180deg);
  box-shadow: inset -17px -19px 64px -36px rgb(255 255 255), 7px -3px 16px -3px rgb(66 68 90);
  border: 5px inset #FFFFFF;
  cursor: pointer;
}

/* .wallLight {
    position: absolute;
    width: 168px;
    height: 140px;
    top: -149px;
    left: -2px;
    background-color: rgb(255 255 255 / 40%);
    mix-blend-mode: lighten;
    transform: skew(0deg, 32deg) rotateZ(180deg);
    box-shadow: 0px 0px 33px 0px rgba(255, 255, 255, 1);
  
  } */
  /* .floorLight {
    position: absolute;
    width: 106px;
    height: 140px;
    top: 85px;
    left: -123px;
    background-color: rgb(255 255 255 / 80%);
    mix-blend-mode: lighten;
    transform: skew(0deg, -19deg);
    box-shadow: 180px 0px 11px 0px rgb(255 255 255 / 80%);
  } */
